<h1>hola</h1>

<div class="contenedorProductos"></div>

<h2>Crear producto</h2>

<form>
    <input type="text" id="title" placeholder="titulo">
    <input type="text" id="description" placeholder="descripcion">
    <input type="number" id="price" placeholder="precio">
    <input type="text" id="img" value="nada">
    <input type="text" id="code" placeholder="codigo">
    <input type="number" id="stock" placeholder="stock">
    <input type="text" id="category" placeholder="categoria">
    <select id="status">
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
    </select>
    <button type="button" id="submit">Enviar</button>

</form>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"> </script>
<script src="js/main.js"></script>




